<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" href="https://dfrnc.com/logo.png" type="image/x-icon">

	<meta http-equiv='cache-control' content='no-cache'>
	<meta http-equiv='expires' content='0'>
	<meta http-equiv='pragma' content='no-cache'>
	<title>4926_BPHS</title>
</head>

<body>

	<header class="header">
		<div class="header__container container">
			<a href="#" class="header__logo">
				<img src="./assets/img/logo.svg" alt="">
			</a>
		</div>
	</header>

	<section class="hero">
		<div class="hero__svg">
			{{>img/4926_hero.svg}}
		</div>

		<div class="hero__container container">
			<h1 class="h1 hero__title">
				Dynamic. Flexible.<br>
				Premium quality.
			</h1>
			<p class="hero__subtitle">
				Pharma & healthcare data services
			</p>
			<a href="#" class="hero__btn btn">Learn more</a>
		</div>
	</section>

	<section class="second">
		<div class="second__svg">
			{{>img/4926_second.svg}}
		</div>
		<div class="second__container container">
			<div class="second__left">
				<h2 class="h2 second__title">
					<span>Dynamic.</span>
					<span>Flexible.</span>
					<span>Premium quality.</span>
				</h2>
				<p class="second__subtitle">
					...that’s the DNA of binder pharma services. We are a modern
					company dedicated to pharma and healthcare.
				</p>
			</div>

			<div class="second__right">
				<p>
					Axel established the company in early 2016 with the primary intention to offer unique business services for
					Austrian and international clients.
				</p>
				<p>
					Our effective team – a well-balanced mix of
					experienced specialists, university graduates and students – has more than 20 years
					experience in the pharmaceutical / healthcare and IT-sector. From our office in Vienna we
					provide IT-services (data center and coding), management consulting and backoffice
					solutions to our customers.
				</p>
				<p>
					High commitment, continuous improvement and premium quality make our company special – this enables our
					clients to focus on their core competences. That’s what it’s all about!
				</p>
			</div>
		</div>
	</section>

	<section class="third">
		<div class="third__svg">
			{{>img/4926_third.svg}}
		</div>
		<div class="third__container container">
			<div class="third__left">
				<h2 class="third__title">what are we<br>good at</h2>
			</div>

			<div class="third__right">
				<div class="third__text">
					<h3>
						Services (EDS)
					</h3>
					<p>
						Operated from our 4 storage & distributions hubs in Austria we will provide same-day
						emergency delivery services for urgent deliveries to public pharmacies and hospitals.
					</p>
				</div>
				<div class="third__text">
					<h3>
						Data Center
					</h3>
					<p>
						Our two data centers are located in Austria and feature state of the art infrastructure and
						extensive emergency systems. To ensure high availability the data is replicated automatically between both
						locations. All systems are
						monitored 24/7 by our support experts.
					</p>
				</div>
				<div class="third__text">
					<h3>
						Coding
					</h3>
					<p>
						We are specialized in software engineering and development of business intelligence & process automation
						applications. Our expertise extends to Microsoft 365 & Azure AD, SAP Business One, Webservices & APIs,
						Voice/Fax solutions and e-commerce platforms.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="sixth">
		<div class="sixth__bigSvg">
			{{>img/4926_sixthBig.svg}}
		</div>
		<div class="sixth__container container">
			<div class="sixth__content">
				<h2 class="h2 sixth__title">
					Customer service<br>
					/Downloads
				</h2>
				<div class="sixth__contacts">
					Our customer service department is available for
					processing your orders by email at
					<a href="mailto:orderhandling@bphs.at" class="sixth__contacts_email">orderhandling@bphs.at</a>
					or by
					fax at <a href="tel:431361192299" class="sixth__contacts_tel">+43 1 3611922-99</a>.
				</div>
				<div class="sixth__order">
					<p>Order form for PROSTAFLOR NOVUM FTBL 150 ST</p>
					<a href="#" class="sixth__btn btn">
						<img src="./assets/img/download.svg" alt="">
						Download
					</a>
				</div>
				<p class="sixth__text">
					Orders received until 6:15 pm Monday-Friday (workdays) are usually delivered the following working day (except
					Saturday). In urgent cases, which are to be marked as such, the delivery will take place the next working day
					(inlcuding Saturday) until 12:00 o’clock.
				</p>
			</div>

			<div class="sixth__svg">
				{{>img/4926_sixth.svg}}
			</div>
		</div>
	</section>

	<footer class="footer">
		<div class="footer__container container">
			<div class="footer__left">
				<a href="#" class="footer__logo">
					<img src="./assets/img/logo.svg" alt="">
				</a>
				<p class="footer__copyright">
					©2022 binder pharma services gmbh
				</p>
				<div class="footer__links">
					<a href="#">imprint</a>
					<a href="#">privacy</a>
					<a href="#">agb</a>
				</div>
			</div>

			<div class="footer__right">
				<div class="footer__social">
					<a href="#">
						<img src="./assets/img/footer_links.png" alt="">
					</a>
				</div>
				<div class="footer__tel">
					call us at <a href="tel:+4313611922">+43 1 3611922</a>
				</div>
				<div class="footer__address">
					<a href="#">wurmbrandgasse 15/7, 1220 vienna</a>
					<a href="mailto:office@bphs.at">office@bphs.at</a>
				</div>
			</div>
		</div>
	</footer>

</body>

</html>